.pages-body {
    padding-top: 20px;
}

.header-wrapper {
    position: fixed;
    right: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gmail .image {
    font-size: 15px;
    color: #032F62;
}

.user_image img{
    width: 40px;
    border-radius: 20px;
    margin-right: 15px;
}